<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Arabic Dialect Detection</title>

	<!-- demo -->
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">

	<!-- jQuery & jQuery UI + theme (required) -->
	<script src="{{ url_for('static', filename='jquery-latest.min.js') }}"></script>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="http://www.arabic-keyboard.org/keyboard/keyboard.css"> 
	<script type="text/javascript" src="http://www.arabic-keyboard.org/keyboard/keyboard.js" charset="UTF-8"></script> 
	<script src="https://cdn.zoomcharts-cloud.com/1/latest/zoomcharts.js"></script>

	
</head>
<body>
<div class="container">

<div class="row">
	<div class="section1 col-md-6">
		<form>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Example textarea</label>
				<textarea class="keyboardInput form-control txt" id="exampleFormControlTextarea1" rows="3"></textarea>
			</div>
			<div class="form-group">
			<select class="form-control custom-select custom-select-lg mb-3 model">
					<optgroup label="Naive Bayes">
						<option value="1">NB, Count Vectors</option>
						<option value="2">NB, WordLevel TF-IDF</option>
						<option value="3">NB, N-Gram Vectors</option>
						<option value="4">NB, CharLevel Vectors</option>
					</optgroup>
					<optgroup label="Logistic Regression">
						<option value="5">LR, Count Vectors</option>
						<option value="6">LR, WordLevel TF-IDF</option>
						<option value="7">LR, N-Gram Vectors</option>
						<option value="8">LR, CharLevel Vectors</option>
					</optgroup>
					<optgroup label="Boosting Model">
							<option value="9">Xgb, Count Vectors</option>
							<option value="10">Xgb, WordLevel TF-IDF</option>
							<option value="11">Xgb, CharLevel Vectors</option>
					</optgroup>
					<optgroup label="Neural Networks">
							<option value="12">NN, Ngram Level TF IDF Vectors</option>
					</optgroup>
					<optgroup label="Convolutional Neural Network">
							<option value="13">CNN, Word Embeddings</option>
					</optgroup>
					<optgroup label="Recurrent Neural Network ">
							<option value="14">RNN-LSTM, Word Embeddings</option>
							<option value="15">RNN-GRU, Word Embeddings</option>
					</optgroup>
			</select>
			</div>
		</form>
		<button class="btn">Predict </button>

	</div>
</div>
</div>
	
	<div class="block22">
		<div id="demo"></div>

	</div>
	<br class="clear" />
</div>
<script>

	function create_pie(model,txt) {
		$.get("api/get/"+model+"/" + txt, function (data) {
			console.log(data)
			var pays = []
			switch (data.value) {
				case "general":
					pays = ['MAR','ESH','DZA','TUN','LBY','MRT','EGY','IRQ','SAU','KWT','QAT','ARE','OMN','JOR','PSE','ISR','LBN','SYR','SDN','YEM'];
					break;
				case "egyptian":
					pays = ['EGY'];
					break;
				case "gulf":
					pays = ['SAU','KWT','QAT','ARE'];
					break;
				case "iraqi":
					pays = ['IRQ'];
					break;
				case "levantine":
				    pays = ['JOR','PSE','ISR','LBN','SYR'];

					break;
				case "maghrebi":
					pays = ['MAR','ESH','DZA'];

					break;
				case "tunisien":
					pays = ['TUN'];

					break;
				
				}

			var geio = new GeoChart({
			container: document.getElementById('demo'),
			navigation: {
				initialLng: 15,
				initialLat: 20.92,
				initialZoom: 4,
				minZoom: 3
			},
			data: {
				url:"https://zoomcharts.com/dvsl/data/geo-chart/countries.geo.json",
				format: "GeoJSON",
				perBoundsData: false
			},
			layers: [
				{
					type: "shapes",
					style: {
						node: {
							fillColor: "rgba(0, 153, 204, 0.2)",
							lineColor: "rgba(255, 255, 255, 0.6)",
							lineWidth: 1
						},
						selection: {
							fillColor: "rgba(47, 195, 47, 0.7)"
						}
					}
				}
			],
			interaction: {
				selection: {
					enabled: true
				}
			},
			advanced: {
				pointer: {
					noClickOnDoubleClick: false
				}
			}
		});
		geio.on("selectionChange",function(e){
			geio.selection(pays)
		});	


		$("#demo").hide().fadeIn(2000)
		})
	}
	
	$(function () {
		
		$(".btn").click(function() {
				var txt = $(".txt").val();
				var model = $(".model").val();
				
				create_pie(model, txt);

		});
		
	});
	
</script>

</body>
</html>
