{% extends "layout1.html" %}

{% block content %}
		<div class="row">

            <div class=" col-md-12">
                <div class="r1 col-md-5">
                <div id="demo" class=""></div>
                 </div>
                <div id="shad" class="r1 col-md-6">
                <div id="demo1" class=""></div>
                 </div>
            </div>
            <div class="r1 col-md-12">
                <div id="demo2" class=" "></div>
            </div>
            <div class="col-md-12">
                <div class="r1 col-md-5">
                    <div id="demo3" class=" "></div>
                </div>
                <div id="shad" class="r1 col-md-6">
                <div id="demo4" class=""></div>
                 </div>
            </div>
			<div class="r1 col-md-12">
				<div id="map" class="" ></div>

            </div>	
		</div>
		<div class="modal fade" id="myModal123456789" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> 
				<div class="modal-dialog" role="document"> 
						<div class="boxpopup col-md-12">
								<!-- <div class="movie-poster play-trailer" ></div>-->
								 <div class="col-md-12">
										<form>
												
											<div id="pays_div" class="form-group  col-md-10 col-lg-offset-2">
												<label for="select_model1">Models </label>
												<select id="select_model1" class="form-control">
														
														<option value="2">Matrix factorisation</option>
														<option value="4">Non-negative Matrix factorisation</option>
														<option value="3">Simple Neural Network</option>
														<option value="1">Advanced Neural Network </option>

												</select>
						
											</div>
										</form>
								</div> 
								<div class="igs col-md-12">
									<img class="img_acc col-md-6" src="" alt="">
									<img class="img_matrix col-md-6" src="" alt="">
								</div>
								<div class="accur col-md-12">

								</div>
						</div>
					
				</div>
		</div>
{% endblock %}
{% block scripts %}


<script src="https://cdn.zoomcharts-cloud.com/1/latest/zoomcharts.js"></script>
<script lang="text/javascript" src="{{ url_for('static', filename='scripts/jqcloud-1.0.4.js') }}"></script>
<script>
    var ZoomChartsLicense = "ZCP-2jt1vsq8o: ZoomCharts SDK for PeaQock";
    var ZoomChartsLicenseKey = '1a89ca2621b420a6ab144f910ccc8cf7895f869f01d4c4de4a' +
    'aa67351f0416d83b09b7dea54d22a9c20a90783cf2796de366fd0a018f13790a36dc24cf7a1c5' +
    '290870c84f74844621e4ab5229681bcb229dd2fc90aaa6454af1578c81fe2056c97c29cef15c1' +
    'c606fc70e1fd7d89f978b7fe9d6e97387b2b16304a99f87c92729d821947c312144f1a8b6d57d' +
    'ffd1448da030a3578143b62f1f4a0b0fe1d2efb1670416898d86369c5059d1db5acf457b07448' +
    '3f24d4db6b98767566eafef4b259f9e59a12bd38ea15be4f2c3d681606c9f695032892c19091c' +
    'a8d8af12f5dc21dbc6035dc647e945a17d39d67e17bbde56ce9311cab3d38d70e6db842771adc';

	var doc ={1:"89.93%",2:"65.2%",3:"65.1%",4:"65.5%"}
	var imgs_accu ={1:"https://res.cloudinary.com/df9qpnhlw/image/upload/v1549228083/imgs/1.png",2:"https://res.cloudinary.com/df9qpnhlw/image/upload/v1549228083/imgs/2.png",3:"https://res.cloudinary.com/df9qpnhlw/image/upload/v1549228083/imgs/3.png",4:"https://res.cloudinary.com/df9qpnhlw/image/upload/v1549228083/imgs/4.png"}
	var imgs_mat ={1:"https://res.cloudinary.com/df9qpnhlw/image/upload/v1549228084/imgs/mat-1.png",2:"https://res.cloudinary.com/df9qpnhlw/image/upload/v1549228083/imgs/mat-2.png",3:"https://res.cloudinary.com/df9qpnhlw/image/upload/v1549228083/imgs/mat-3.png",4:"https://res.cloudinary.com/df9qpnhlw/image/upload/v1549228083/imgs/mat-4.png"}
		
	var	chart= new PieChart({
    interaction: {
        mode: "select",
        resizing: {
            enabled: false
        }
    },
    pie: {
        innerRadius: 0
    },
    slice: {
        expandableMarkStyle: {
            lineWidth: 0
        }
    },
    container: "demo",
    data: [
        {
            url: "http://127.0.0.1:5000/api/work/"
        }
    ],
    toolbar: {
        fullscreen: true,
        enabled: true
    }
})

	var	chart2= new FacetChart({
			series: [
				{
					name: "Totale",
					data: {
						field: "totale",
						// aggregation: "avg"
					},
					style: {
						fillColor: "#56b9f7"
					},
					type: "columns"
				},
				{
					name: "Positive",
					data: {
						field: "positive",
						// aggregation: "avg"
					},
					style: {
						fillColor: "#2fc32f"
					},
					type: "columns"
				},
				{
					name: "Negative",
					data: {
						field: "negative",
						// aggregation: "avg"
					},
					style: {
						fillColor: "#de672c"
					},
					type: "columns"
				}
			],
			container: "demo1",
			data: [
				{
					url: "http://127.0.0.1:5000/api/ueractif/"
				}
			],
			toolbar: {
				fullscreen: true,
				enabled: true
			},
			interaction: {
				resizing: {
					enabled: false
				}
            },
            // facetAxis:{
            //     title:{
            //         enabled:true,
            //         text:"Tikhsdfkjdskhfb ddygfdsgfjsdgb"
            //     }
            // }
		})

	var	chart3= chart= new FacetChart({
    series: [
        {
            name: "nb Movies",
            data: {
                field: "totale",
                aggregation: "sum"
            },
            style: {
                smoothing: true,
                fillColor: "#56b9f7"
            },
            stack: "default",
            type: "line"
        }
    ],
    stacks: {
        default: {
            type: "normal"
        }
    },
    container: "demo2",
    data: [
        {
            url: "http://127.0.0.1:5000/api/evoyers/"
        }
    ],
    toolbar: {
        fullscreen: true,
        enabled: true
    },
    interaction: {
        resizing: {
            enabled: false
        }
    }
})

	var	chart4= new PieChart({
    pie: {
        innerRadius: 0.7
    },
    container: "demo3",
    data: [
        {
            url: "http://127.0.0.1:5000/api/realisateur/"
        }
    ],
    toolbar: {
        fullscreen: true,
        enabled: true
    },
    interaction: {
        resizing: {
            enabled: false
        }
    }
})


	var chart5= new FacetChart({
    series: [
        {
            name: "Count",
			data: {
				field: "count",
                aggregation: "sum"
            },
            style: {
                fillColor: "#2fc32f"
            }
		}
    ],
    container: "demo4",
    data: [
        {
            url: "http://127.0.0.1:5000/api/topmovie/"
        }
    ],
    toolbar: {
        fullscreen: true,
        enabled: true
    },
    interaction: {
        resizing: {
            enabled: false
        }
    }
})

	$.get("http://127.0.0.1:5000/api/cloud/", function (data) {

                $('#map').empty().jQCloud($.parseJSON(data),{
                    height: 500,
                    width:1070,
                    autoResize: true,
                    delay: 50
                });
            });

	$('#select_model1').on("change", function () {
		
        var key = $(this).val()
        $(".img_acc").fadeOut();
        $(".img_matrix").fadeOut();
        $(".accur").fadeOut();

		$(".accur").empty().append("<div> Accuracy :<strong>"+doc[parseInt(key)]+"</strong></div>").fadeIn()
		$(".img_matrix").attr("src",imgs_mat[parseInt(key)]).fadeIn();
        $(".img_acc").attr("src",imgs_accu[parseInt(key)]).fadeIn();

	}).trigger("change")
               
				

</script>
{% endblock %}
