{% extends "layout1.html" %}

{% block content %}
		<div class="row">
				<div class="region_div col-lg-10 col-lg-offset-1">
					<form>
						<div class="form-group col-md-4">
							<label for="select_user">Users </label>
							<select id="select_user" class="form-control">
							</select>
	
						</div>
						<div id="pays_div" class="form-group col-md-6">
							<label for="select_model">Models </label>
							<select id="select_model" class="form-control">
									
									<option value="1">keras_network</option>
									<option value="2">Matrix_factorisation</option>
									<option value="3">NN_keras</option>
									<option value="4">Non-negative_Matrix_factorisation</option>
							</select>
	
						</div>
					</form>

						<div class="form-group col-md-2">
								<label for="select_model">       </label>
								<button class="form-control" id ="btn_recd">Recommande</button>
								
				</div>
        </div>
        

    			 
    </div>
    <div class="row container_id1">
    </div>
    <div class="row container_id">
    </div>
		<div class="modals">

		</div>
	
</div>

{% endblock %}