<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">

    <!-- <script src="{{ url_for('static', filename='jquery-latest.min.js') }}"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='css/jquery.film_roll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='css/jquery.touchSwipe.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jqcloud.css') }}">

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <title>Movies </title>
    {% endblock %}
</head>
<body>
<div id="container">

    {% block navigation %}
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                       
                        {% if select == "dash" %}
                                 <li><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='css/hmida.png') }}"  style="width: 35px;height: 36px;" alt=""></a></li>
                                 <li> <a data-toggle="modal" data-target="#myModal123456789"><img src="{{ url_for('static', filename='css/hmida2.png') }}"  style="width: 35px;height: 36px;" alt="">  </a> </li>

                        {% else %}
                             <li><a href="{{ url_for('dash') }}"><img src="{{ url_for('static', filename='css/dash.png') }}"  style="width: 35px;height: 36px;" alt=""> </a></li>
                            
                        {% endif %}



                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                            <li><a href="https://www.facebook.com/datasciencefssm/"> <img src="{{ url_for('static', filename='css/logo_rs_ds.png') }}"  style="height: 36px;" alt=""> </a></li>

                        <li> <a href=""></a>  </li>
                      </ul>

                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}

    {% endblock %}

   <div style ="height: 20px ;text-align: center">
        <img src="{{ url_for('static', filename='css/footer.png') }}" style="width: 50%;"alt="">
    </div>
</div>


{% block scripts %}

{% endblock %}


</body>
</html>
