<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='font-awesome.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">

    <!-- <script src="{{ url_for('static', filename='jquery-latest.min.js') }}"></script> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    
        <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='css/jquery.film_roll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='css/jquery.touchSwipe.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jqcloud.css') }}">

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <title>Movies </title>
    {% endblock %}
</head>
<body>
<div id="container">

    {% block navigation %}
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                       
                        {% if select == "dash" %}
                                 <li><a href="{{ url_for('index') }}"><img src="https://raw.githubusercontent.com/younes5zorro/app_stage_angular_client/master/src/assets/rebo.png"  style="width: 35px;height: 36px;" alt="">Recommende</a></li>
                                 <li> <a data-toggle="modal" data-target="#myModal123456789"><img src="https://raw.githubusercontent.com/younes5zorro/app_stage_angular_client/master/src/assets/asset.png"  style="width: 35px;height: 36px;" alt="">  Models</a> </li>

                        {% else %}
                             <li><a href="{{ url_for('dash') }}"><img src="https://raw.githubusercontent.com/younes5zorro/app_stage_angular_client/master/src/assets/composition.png"  style="width: 35px;height: 36px;" alt=""> Dashboard</a></li>
                            
                        {% endif %}



                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a target="_blank" href="https://www.facebook.com/younes.saad.77">Younes JAOUIRI</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100006614358762"> Mohammed BASTA </a></li>
                        <li><a target="_blank" href="https://www.facebook.com/datasciencefssm/">Big Data Analytics</a></li>
                      </ul>

                </div>
            </div>
        </nav>
    {% endblock %}

    {% block content %}

    {% endblock %}

   
</div>


{% block scripts %}

{% endblock %}


</body>
</html>
